@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background: #111;
  height: 100vh;
  overflow: hidden;
}

.wrapper span{
  position: fixed;
  bottom: -180px;
  height: 50px;
  width: 50px;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 0 50px #0072ff,
              0 0 100px #0072ff,
              0 0 150px #0072ff,
              0 0 200px #0072ff;
  animation: animate 10s linear infinite;
  transition: all 1s ease;
}

@media (hover: hover) and (pointer: fine) {
  .wrapper span:hover {
    background-color: rgb(255, 158, 255);

    box-shadow: 0 0 50px #ff00ff,
                0 0 100px #ff00ff,
                0 0 150px #ff00ff,
                0 0 200px #ff00ff;
    transition: all 0.5s ease;
  }
}

.wrapper span:nth-child(1){
  left: 60px;
  animation-delay: 600ms;
}

.wrapper span:nth-child(2){
  left: 10%;
  animation-delay: 3s;
  width: 60px;
  height: 60px; 
}
.wrapper span:nth-child(3){
  left: 20%;
  animation-delay: 2s;
}
.wrapper span:nth-child(4){
  left: 30%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;
}
.wrapper span:nth-child(5){
  left: 40%;
  animation-delay: 1s;
}
.wrapper span:nth-child(6){
  left: 50%;
  animation-delay: 7s;
}
.wrapper span:nth-child(7){
  left: 60%;
  animation-delay: 6s;
  width: 100px;
  height: 100px;
}
.wrapper span:nth-child(8){
  left: 70%;
  animation-delay: 8s;
}
.wrapper span:nth-child(9){
  left: 80%;
  animation-delay: 6s;
  width: 90px;
  height: 90px;
}
.wrapper span:nth-child(10){
  left: 90%;
  animation-delay: 4s;
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  translate: 0px -10vh;
  position: relative;
}

.subContent {
  position: absolute;
  translate: 0px -2vh;

  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 50vw;
  text-align: center;
}

.content h2 b{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.2vw;
  -webkit-text-stroke-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 13vw;
}

.subContent h2 b{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.05vw;
  -webkit-text-stroke-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5vw;
}

@keyframes animate{
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  80% {
    opacity: 0.7;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}



.nav-cont {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-top: 35px;

  overflow: hidden;

  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100vw;
}

.nav-item {
  padding: 1.5em;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;

  margin-left: 2vw;
  margin-right: 2vw;

  font-family: 'Roboto', sans-serif;
  font-size: 1.75vw;
  border-bottom: rgba(255, 255, 255, 1);
  transition: font-size 250ms;
}

@media (hover: hover) and (pointer: fine) {
  li a:hover {
    font-size: 2vw;
    transition: font-size 250ms;
  }
}


@media only screen and (max-width: 600px) {

  .wrapper span{
    position: fixed;
    bottom: -180px;
    height: 50px;
    width: 50px;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0 0 50px #0072ff,
                0 0 100px #0072ff,
                0 0 150px #0072ff,
                0 0 200px #0072ff;
    animation: animate 9s linear infinite;
    transition: all 1s ease;
  }

  .wrapper span:nth-child(1){
    left: 60px;
    animation-delay: 0s;
  }
  
  .wrapper span:nth-child(2){
    left: 10%;
    animation-delay: 2s;
    width: 30px;
    height: 30px; 
  }
  .wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 5s;
  }
  .wrapper span:nth-child(4){
    left: 20%;
    animation-delay: 6.8s;
    width: 40px;
    height: 40px;
  }
  .wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 3s;
  }
  .wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 8s;
  }
  .wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 6s;
    width: 50px;
    height: 50px;
  }
  .wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 1s;
  }
  .wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 7.5s;
    width: 45px;
    height: 45px;
  }
  .wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 4s;
  }

  .nav-cont {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
  
    margin: 0;
    padding: 0;
    padding-top: 20px;
  
    overflow: hidden;
  
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100vw;
  }
  
  .nav-item {
    padding: 0.8em;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  
    font-family: 'Roboto', sans-serif;
    font-size: 2.25vw;
  }

  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .content {
    translate: 0px -10vh;
    position: relative;
  }
  
  .subContent {
    position: absolute;
    translate: 0px -3vh;
  
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 80vw;
    text-align: center;
  }
  
  .content h2 b{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 12vw;
  }
  
  .subContent h2 b{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 8vw;
  }

}